<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Registration Information</title>
<div width="100%"
    style="background: #f5f5f5; padding: 0px 0px; font-family:arial; line-height:28px; height:100%;  width: 100%;  color: #000;">
    <div style="max-width: 700px; margin: 0px auto; font-size: 16px;padding:50px 0;">
        <table style="width: 100%; background: #fff;                          box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);"
            cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td style="vertical-align: top; padding-bottom: 20px;padding-top: 20px;" align="center"> <img
                            src="https://i.postimg.cc/j2rW7wrW/logo.png" alt="Retouched.ai"
                            style="border: none;max-width:150px;width:100%;">
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="padding: 20px; background: #fff;font-family:arial;box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);">
            <table style="width: 100%;" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td style="padding: 10px 0 5px 0;">
                            <p style="font-weight:bold;font-family:arial;font-size: 20px;"> Hello
                                {AdminUser.ReceipentName},
                            </p>
                            <p style="font-size: 15px;">Thank you for registering with us. We are pleased to confirm
                                that your account has been
                                successfully created.

                                To activate and set password your account, please click on the below link.

                                Once you have activated your account, you will be able to access all of the features of
                                our service/website.</p>
                            <center> <a href="{changeUrl}"
                                    style="display: inline-block; padding: 11px 30px;border-radius: 5px; margin: 20px 0px 20px; font-size: 15px; color: #fff; background-color: cadetblue; text-decoration: none; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);">Verify
                                    your account</a> </center>
                            <br>
                            <div style="font-family:arial;font-size: 14px;">
                                If you’re having trouble with the button above, copy and paste the URL below into your
                                web browser. </div>
                            <p style="margin-top: 20px;"></p> <br>

                            <div style="font-family:arial; margin-top: 8px;">Thanks. </div>
                            <div style="font-family:arial;font-weight:bolder;">Team Retouched.ai</div>

                            <p
                                style="color: white; background-color:cadetblue; text-align: center; padding-bottom: 10px;">


                                <br> <span style="font-size: 12px;">2nd Floor, Navana DH Tower, Plot:06,
                                    Panthapath,
                                    Dhaka,
                                    Bangladesh</span>
                                <br><span style="font-size: 12px;">Email: info@retouched.ai</span> <span>||</span> <span
                                    style="font-size: 12px;">Phone No.
                                    02-55013583</span>
                            </p>

                        </td>

                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>