.facebook {
  color: white;
  background: #285da1;
  z-index: 1;
  transition: 0.7s ease-in-out;
}
.facebook:hover {
  color: #285da1;
  transition: 0.7s ease-in-out;
}
.pinterest {
  color: white;
  background: #d2173f;
  z-index: 1;
  transition: 0.7s ease-in-out;
}
.pinterest:hover {
  color: #d2173f;
  transition: 0.7s ease-in-out;
}
.twitter {
  color: white;
  background: #03a9f4;
  z-index: 1;
  transition: 0.7s ease-in-out;
}
.twitter:hover {
  color: #03a9f4;
  transition: 0.7s ease-in-out;
}

button::after {
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  padding: 0.85em 0.75em;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(45deg) scaleX(0);
  background: #ffff;
  transition: all 0.4s ease-out 0s;
}

button:hover::after {
  transform: skewX(45deg) scaleX(2);
  transition: all 0.4s ease-out 0s;
}
