@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9MLvxWOcDHbDKKHtBYGo6ujuncAGXzsgMNA&s');
    background-size: contain;
    background-position: center;
    height: 50vh;
}